* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: darkslategrey;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}
.welcome{
 width: 100%;
 background-color: red;
    font-size: 22px;

}
.Moneypay{
    padding: 10px;
}

.border{
  background-color: coral;
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}




.action-buttons button {
  background: #ffcc00;
  color: #003366;
  justify-content: center;
  padding: 12px 24px;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.action-button button {
  background: red;
  color: #003366;
  justify-content: center;
  padding: 12px 24px;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.action-buttons button:hover {
  background-color: white;
  transition: 0.3s ease;
}
.action-button button:hover {
  background-color: white;
  transition: 0.3s ease;
}
.earner{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.upgrade{
   text-align: center;
   background-color: red;
   width: 600px;
   padding: auto;
 margin: auto;
 max-width: 80%;
}

.automated{
  margin: auto;
  background-color: blueviolet;
  border-radius: 25px;
  padding: 15px;
  width: 500px;
  max-width: 80%;
}
.color{
  background-color: #fff;
  color: green;
  border-radius: 100px;
  font-size: small;
  font-size: medium;
}

.color:hover{
  background-color:orangered;
  color: black;
}

.funding{
  font-family: 'Times New Roman';
  background-color: red;
  margin: auto;
  text-align: center;
  border-radius: 8px;
}
.charges{
  font-family: Arial;
  position: absolute;
  right: 0;
  color:#003366;
  outline: #fff;
  outline-width: 5px;
}

.Bank{
  font-family: 'Times New Roman';
  position: absolute;
  right: 0;
  background-color: black;
  border-radius: 100px;
  font-size: small;
  width: 50px;
  text-align: center;
}

.Bank:hover{
  background-color:darkorchid;
  color: black;
}
.customers{
  margin: 20px auto;
  padding: 12px 20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(5px);
  width: fit-content;
  border-radius: 12px;
  display: flex; 
  gap: 25px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  animation: fadeIn 1.2s ease-in-out;
  }

  .wallet {
   justify-content: space-around;
    padding: 15px;
   background: white;
      
}

.wallet p {
  display: flex;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  gap: 15px;
  background-color: #fff;
  
}

.referral{
  display: flex;
  align-items: center; 
  gap: 15px;  
   background: white;
  backdrop-filter: blur(5px);  
  width: 180px; 
  margin: 10px;    
}
.noticiation{
  background-color:brown;
  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.access{
  margin: 20px auto;
  padding: 12px 20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(5px);
  width: fit-content;
  border-radius: 12px;
  display: flex; 
  gap: 25px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  animation: fadeIn 1.2s ease-in-out;
}
.faqs{
  background-color:chocolate;
  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.question{
  background-color:green;
  width: 300px;
  text-align: center;
}

.services {
  display: flex;
  gap: 25px; 
  margin: auto;           
}

.service {
   justify-content: center;
    flex-wrap: wrap;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 4px;             
}

.service img {
  width: 50px;
  height: auto;
}

.service p {
  margin: 0;            
  font-size: 14px;
  background-color:crimson;
  width: 120px;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;

 
}

.service p:hover{
  background-color: black;
  color: #fff;
}
